body {
background: white url("images/cat.jpg") no-repeat;
background-position: right top;
    background-size:50%;
}

li a {
color: cornflowerblue;
}

#list1{
    margin-left:80px;
    padding-left:80px;
}
